<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd
           http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
           ">
           
           <context:component-scan base-package="spring.mvc" />
           
           <mvc:annotation-driven></mvc:annotation-driven>
           <mvc:resources location="/WEB-INF/resources/" mapping="/resources/**"></mvc:resources>
           
           <mvc:interceptors>
           		<mvc:interceptor>
           			<mvc:mapping path="/processIntercepterExamle"/>
           			<bean name="interceptor" class="spring.mvc.controller.InterceptorExamleImpl" />
           		</mvc:interceptor>
           </mvc:interceptors>
           
           <mvc:annotation-driven/>
		
           
           <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
           		<property name="prefix" value="/WEB-INF/Views/" />
           		<property name="suffix" value=".jsp" />
           </bean>
           
           <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >           
           </bean>
           
           <!-- ORM configuration started -->
           
           <tx:annotation-driven />
           
           <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
           		<property name="driverClassName" value="com.mysql.jdbc.Driver"  />
           		<property name="url" value="jdbc:mysql://localhost:3306/spring_mvc" />
           		<property name="username" value="root" />
           		<property name="password" value="root" />
           </bean>
           
           <bean name="factory"  class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
           		<property name="dataSource" ref="dataSource"  />
           		<property name="hibernateProperties">
           			<props>
           				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
                		<prop key="hibernate.show_sql">true</prop>
                		<prop key="hibernate.hbm2ddl.auto">update</prop>
           			</props>
           		</property>
           		<property name="annotatedClasses">
           			<list>
           				<value>spring.mvc.entity.User</value>
           			</list>
           		</property>
           </bean>
           
          <bean name="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate" >
          		<property name="sessionFactory" ref="factory" ></property>
          </bean>
          
          <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager" >
          		<property name="sessionFactory" ref="factory" />
          </bean>
          
          <!-- ORM configuration Ended -->

</beans>